<div id="about-me" class="about-me-container section-container">
  <!-- left section -->
  <div class="about-me-content">
    <div class="words">
      <h2 class="title">About Me</h2>
      <div class="bio">
        <p>
          <strong class="logo-m">Hello!</strong><br />
          Our team—
          <strong>Zahra, Yali, and Asher</strong>-collaborated to create a dynamic and engaging team CV page。<br />
          This project was a <strong>hands-on experience in real-world coding</strong>, 
          where we worked through the entire development process from start to finish.
          We carefully planned <strong>each phase</strong>, clearly defined our <strong>goals</strong> , 
          and efficiently <strong>divided tasks</strong> to leverage each member's strengths. 
          Thanks to our teamwork and dedication, we successfully brought 
          this project to life, achieving a seamless and rewarding outcome.
        </p>
      </div>
    </div>
    <div class="image">
      <img src="source/assets/working.jpg" alt="Workspace" />
    </div>
  </div>

  <!-- Right section -->
  <img src="source/assets/images/topography-02.png" alt="backgroundpic">
</div>

