<div id="blogs" class="blogs-container section-container">
  <div class="blogs-head">
    <div class="moduleTitle">
      <img class="mouse" src="source/assets/icons/mouse.png" alt="" />
      <img class="arrow" src="source/assets/icons/Arrow%201.png" alt="" />
    </div>
    <div class="blogs-content">
      <h2 class="h1-u">Blogs</h2>
      <img src="source/assets/icons/Line%2022.png" alt="" />
      <p class="para-m">
        My thoughts on technology and business, welcome to subscribe
      </p>
    </div>
  </div>
  <div class="blog-card">
    <img
      src="source/assets/images/birmingham-museums-trust-TWavMkqC_cc-unsplash%201.png"
      alt="Blog image"
    />
    <div class="blog-content">
      <h3 class="h2-u">What does it take to become a web developer?</h3>
      <p class="para-u">
        Web development, also known as website development, encompasses a
        variety of tasks and processes involved in creating websites...
      </p>
      <a href="#" class="read-more"><span>Read More</span> <span>>></span></a>
      <div class="blog-info">
        <span id="web" class="label-u-l">Web Developer</span>
        <span
          ><span class="key label-u-m">Text &nbsp;</span
          ><span class="value label-u-l">Sinan</span></span
        >
        <span
          ><span class="key label-u-m">Date&nbsp;</span
          ><span class="value label-u-l">10.Oct 2023</span></span
        >
        <span
          ><span class="key label-u-m">Read&nbsp;</span
          ><span class="value label-u-l">1 Min</span></span
        >
      </div>
    </div>
  </div>
  <div class="blog-actions">
    <div class="button button--primary">View More</div>
    <div class="button button--tertiary">Subscribe</div>
  </div>
</div>
