<header>
  <div class="header_container">
    <div class="header_logo"><span>&lt;C/&gt;</span> ZYA Team</div>
    <div class="nav">
      <nav class="header_nav">
        <a href="#home" class="header_link">Home</a>
        <a href="#blogs" class="header_link">Blogs</a>
      </nav>
      <div class="header_search">
        <input type="text" class="header_search-input" placeholder="Search" />
        <!-- <img src="/img/headericon/Search.svg" alt="Searchicon"> -->
        <span class="search-icon"></span>
      </div>
      <div class="header_socials">
        <a href="/source/assets/icons/icon-instagram.svg" class="header_icon">
          <img src="/source/assets/icons/icon-instagram.svg" alt="Instagram" />
          <span>Instagram</span>
        </a>
        <a href="/source/assets/icons/discord.svg" class="header_icon">
          <img src="/source/assets/icons/discord.svg" alt="Discord" />
          <span>Discord</span>
        </a>
        <a href="https://github.com/yalizhang1" class="header_icon">
          <img src="/source/assets/icons/github.svg" alt="Github" />
          <span>Github</span>
        </a>
      </div>
    </div>
  </div>
</header>
