<div id="introduction" class="introduction-container section-container">
    <p class="bg-text-u jobTitle">Developer Team</p>
    <div class="intr-content">
        <div class="intr-left">
            <div class="personal-info-top">
                <div class="profile-unit">
                    <img
                            src="source/assets/images/Profile%20photo.png"
                            alt="Profile"
                            class="profile-img"
                    />
                    <div class="name-box">
                        <h2 class="name1 changeBGColor logo-m">ZYA Team</h2>
                        <p class="changeBGColor code-m">Front End Developer</p>
                    </div>
                </div>
                <div class="info-skills">
                    <div class="info-unit changeBGColor">
                        <div class="changeBGColor info-oneline">
                            <img
                                    class="changeBGColor"
                                    src="source/assets/icons/icon-mail.png"
                                    alt=""
                            />
                            <div class="changeBGColor code-m">
                                Hyper Island
                            </div>
                        </div>
                        <div class="changeBGColor info-oneline">
                            <img
                                    class="changeBGColor"
                                    src="source/assets/icons/icon-map-pin.png"
                                    alt=""
                            />
                            <div class="changeBGColor code-m">Stockholm, Sweden</div>
                        </div>
                        <div class="changeBGColor info-oneline">
                            <img
                                    class="changeBGColor"
                                    src="source/assets/icons/icon-briefcase.png"
                                    alt=""
                            />
                            <div class="changeBGColor code-m">Students</div>
                        </div>
                        <div class="changeBGColor info-oneline">
                            <img
                                    class="changeBGColor"
                                    src="source/assets/icons/icon-link.png"
                                    alt=""
                            /><a class="changeBGColor code-m" href="www.sinantokmak.com"
                        >www.hyperisland.com</a
                        >
                        </div>
                    </div>

                    <div class="skills changeBGColor">
                        <span><p class="code-m">HTML</p></span>
                        <span><p class="code-m">CSS</p></span>
                        <span><p class="code-m">JS</p></span>
                        <span><p class="code-m">REACT</p></span>
                    </div>
                </div>
            </div>
            <button class="button button--tertiary" style="align-self: center">
          <span class="download-text button-u">Download CV</span
          >
            </button>
        </div>
        <div class="intr-right1 changeBGColor">
            <div class="intr-right1-upBox changeBGColor">
                <p class="changeBGColor code-m smallTag-h1">&lt;h1&gt;</p>
                <div class="bigWords">
                    <h1 class="changeBGColor h1-u">Hey</h1>
                    <h1 class="changeBGColor h1-u">
                        <span class="changeBGColor"> We're </span>&nbsp;
                        <span class="secondaryColorWords">ZYA Team</span>
                        <span class="changeBGColor">,</span>
                    </h1>
                    <div class="oneLine">
                        <h1 class="changeBGColor h1-u">FED Developer</h1>
                        <div class="changeBGColor code-m smallTag-h1">&lt;/h1&gt;</div>
                    </div>
                </div>
            </div>
            <div class="intr-right1-downBox changeBGColor">
                <p class="changeBGColor code-m smallTag-p">&lt;p&gt;</p>
                <div class="changeBGColor intr-describe">
                    We help business grow by crafting amazing wen wxperiences. If
                    your're looking for a developer that likes to get stuff dome.
                </div>
                <p class="changeBGColor code-m smallTag-p">&lt;/p&gt;</p>
                <div class="talk-box changeBGColor">
              <span class="changeBGColor text h2-m">Let's Talk</span
              ><span class="changeBGColor"
                ><img
                        class="changeBGColor"
                        src="source/assets/icons/Button%20(1).png"
                /></span>
                </div>
            </div>
        </div>
        <div class="intr-right2 changeBGColor">
            <div class="small-section">
                <div class="big-number number-m">4</div>
                <div class="words-2lines">
                    <p class="para-m">Programming</p>
                    <p class="para-m">Language</p>
                </div>
            </div>
            <div class="small-section">
                <div class="big-number number-m">6</div>
                <div class="words-2lines">
                    <p class="para-m">Developement</p>
                    <p class="para-m">Tools</p>
                </div>
            </div>
            <div class="small-section">
                <div class="big-number number-m">3</div>
                <div class="words-2lines">
                    <p class="para-m">Numbers of</p>
                    <p class="para-m">People</p>
                </div>
            </div>
        </div>
    </div>
</div>