<div id="skills" class="skill-background">
   <div style="background-color: rgba(41,47,54,0.8); padding: 48px;">
       <div class="moduleTitle">
           <img class="mouse" src="source/assets/icons/mouse.png" alt="" />
           <img class="arrow" src="source/assets/icons/Arrow%201.png" alt="" />
       </div>
       <div class="skills-container">
            <h2 class="h1-u accent-text">Skills</h2>
            <p class="para-m">We are striving to never stop learning and improving.</p>
            <div class="skills-grid">
                <div class="skill-box">
                    <h3 class="menu-m dark-text">Web Development</h3>
                    <p class="dark-text para-m">HTML · CSS · JS · REACT</p>
                </div>
                <div class="skill-box">
                    <h3 class="menu-m dark-text">App Development</h3>
                    <p class="dark-text para-m">iOS · Android</p>
                </div>
            </div>
            <div class="tech-icons">
                <div class="tech"><span class="h2-m">HTML</span></div>
                <div class="tech"><span class="h2-m">CSS</span></div>
                <div class="tech"><span class="h2-m">JS</span></div>
                <div class="tech"><span class="h2-m">REACT</span></div>
            </div>
       </div>
   </div>
</div>
