<div id="works" class="works-container section-container">
  <div class="moduleTitle">
    <img class="mouse" src="source/assets/icons/mouse.png" alt="" />
    <img class="arrow" src="source/assets/icons/Arrow%201.png" alt="" />
  </div>
  <div class="works-content">
    <h2 class="h1-u accent-text">Works</h2>
    <p class="para-m">
      We had the pleasure of working with these awesome projects.
    </p>
    <div class="works-row">
      <div class="work-item">
        <a href="https://yalizhang1.github.io/Weather-App/" target="_blank">
          <img src="/source/assets/images/weatherApp.png" />
          <h2 class="h2-m">Weather App</h2>
          <p class="para-m">Gaming company web design pages</p>
        </a>
      </div>
      <div class="work-item">
        <a href="https://yalizhang1.github.io/Calculator/" target="_blank">
          <img src="/source/assets/images/Calculator.png" />
          <h2 class="h2-m">Calculator</h2>
          <p class="para-m">Sign-up pages for summer paty</p>
        </a>
      </div>
      <div class="work-item">
        <img src="/source/assets/images/works/3.jpg" />
        <h2 class="h2-m">meetup</h2>
        <p class="para-m">Social platform for creativity people</p>
      </div>
    </div>
    <div class="works-row">
      <div class="work-item">
        <img src="/source/assets/images/works/4.jpg" />
        <h2 class="h2-m">Travel page</h2>
        <p class="para-m">tourist trip web set and design</p>
      </div>
      <div class="work-item">
        <img src="/source/assets/images/works/5.jpg" />
        <h2 class="h2-m">storage</h2>
        <p class="para-m">Sign up pages for cloud storage company</p>
      </div>
      <div class="work-item">
        <img src="/source/assets/images/works/6.jpg" />
        <h2 class="h2-m">Sushi pages</h2>
        <p class="para-m">
          special Sushi website design for customer to order Sushi
        </p>
      </div>
    </div>
  </div>
</div>
