.changeBGColor {
  background-color: var(--secondary-background-color);
}
.blogs-head {
  width: 100%;
  max-width: 1664px;
  min-height: 124px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.moduleTitle {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  min-height: 140px;
  min-width: 32px;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.mouse {
  width: 32px;
  height: 44px;
}
.arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vertical-dash {
  width: 0px;
  height: 80px;
  display: inline-block;
  border-left: 1px dashed #fff;
  margin: 12px 10px 3px 10px;
  transform: rotate(-90deg);
}

.blogs-content {
  width: 100%;
  max-width: 1920px;
  min-height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  h2 {
    width: 132px;
    height: 72px;
    color: var(--secondary-color);
  }
  img {
    width: 132px;
  }
  p {
    min-height: 20px;
    color: var(--main-color);
  }
}
.blogs-container {
  margin: 0px auto;
  /* padding: 100px 128px; */
  width: 100%;
  max-width: 1920px;
  min-height: 1080px;
  color: #fff;
  border-radius: 10px;

  text-align: center;
  background: var(--secondary-background-color);
}

.blog-card {
  display: flex;
  align-items: center;
  gap: 64px;
  min-height: 240px;
  min-width: 1052px;
  padding: 64px 0px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  border-left: none;
  border-right: none;
  margin: 64px 0px;

  img {
    width: 240px;
    height: 240px;
  }
  .blog-content {
    min-height: 190px;
    min-width: 720px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
    h3 {
      color: var(--secondary-color);
    }
    p {
      color: var(--main-color);
      text-align: start;
    }
    a {
      color: var(--secondary-color);
      text-decoration: none;
      text-align: start;
      & :first-child {
        border-bottom: 1px solid var(--main-color);
      }
    }
  }
}

.blog-info {
  min-height: 24px;
  display: flex;
  gap: 24px;
  align-items: center;
  #web {
    width: 97px;
    height: 16px;
    color: var(--main-color);
  }
  .key {
    height: 16px;
    color: var(--main-color);
  }
  .value {
    height: 16px;
    color: var(--main-color);
  }
}

.blog-actions {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 20px;
  min-height: 56px;
  min-width: 346px;
}

