.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button--primary {
    background-color: #00e5c1;
    color: #ffffff;
  }
  
  .button--primary:hover {
    background-color: #00ccb0; /* Slightly darker shade */
  }

  .button--secondary {
    background-color: #ffffff;
    color: #222222;
    border: 2px solid #00e5c1;
  }
  
  .button--secondary:hover {
    background-color: #f9f9f9; /* Slightly darker white */
  }
  .button--tertiary {
    background-color: #222222;
    color: #ffffff;
    border: 2px solid #00e5c1;
  }
  
  .button--tertiary:hover {
    background-color: #333333; /* Slightly lighter black */
  }

  .button__icon {
    margin-left: 8px;
    font-size: 16px;
  }
  